{% extends 'base.html.twig' %}

{% block title %}Filtravimas{% endblock %}

{% block body %}
    <h1>Filter</h1>

    <div>

            {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
            <div>{{ form_row(form.title) }}</div>
            <div>{{ form_row(form.description) }}</div>
            <div>{{ form_row(form.price) }}</div>
            <div>{{ form_row(form.location) }}</div>
            <button class="btn btn-primary">Filtruoti</button>
            {{ form_end(form) }}

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Location</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}