{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>



    <div>
        <form action="{{ path('filter') }}" method="get">
            <label for="filter">Title</label>
            <input name="filter" type="text">
            <label for="filter2">Category</label>
            <input name="filter2" type="text">
            <label for="filter2">Date</label>
            <input name="filter2" type="text">
            <label for="filter2">Price</label>
            <input name="filter2" type="text">
            <button type="submit" class="btn btn-default btn-sm">Filter Now</button>
        </form>


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Location</th>
                <th>Price</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    {% if isAdmin  %}
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                    {% endif %}
                    {% if isLoged  %}
                        {% if event in subscribed %}
                            <a href="{{ path('event_unsubscribe', {'id': event.id}) }}">Not Attend</a>
                        {% else %}
                            <a href="{{ path('event_subscribe', {'id': event.id}) }}">Attend</a>
                        {% endif %}
                    {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(events) }}
    </div>
{% if isAdmin  %}
    <a href="{{ path('event_new') }}">Create new</a>
{% endif %}
</div>
{% endblock %}
