{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    {{ form_start(registrationForm) }}
        <div class="login-page">
<div class="form">
<form class="register-form">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
      <button class="btn">Register</button>
      <p class="message">Already registered? <a href="login">Sign In</a></p>
    </form>
 </div>
      </div>
    {{ form_end(registrationForm) }}
{% endblock %}

